.social-media {
	.twitter-tweet {
		margin-left: auto;
		margin-right: auto;
	}
}

.tags_for_post {
	margin-bottom: 15px;
}

.site-header {
	.mode-toggle-wrapper {
		padding-top: 21px;
	}
	#night_mode_toggle {
		visibility: hidden;
	}
	.toggle {
		margin-left: 50px;
		border-color: #ee5f5b!important;
		.toggle-group {
			label.toggle-on {
				background: none!important;
				@extend .text-danger;
				&:hover {
					@extend .text-light;
				}
			}
		}
		.toggle-handle {
			@extend .btn-danger;
		}
		&:hover {
			label.toggle-on {
				@extend .text-light;
			}
			.toggle-handle {
				background-image: none!important;
				background-color:white!important;
			}
		}
		&.off {
			border-color: #6c757d!important;
			.toggle-group {
				label.toggle-off {
					background: none!important;
					@extend .text-secondary;
					&:hover {
						@extend .text-light;
					}
				}
			}
			.toggle-handle {
				@extend .btn-secondary;
			}
			&:hover {
				.toggle-handle {
					background-color:white!important;
				}
				label.toggle-off {
					@extend .text-light;
				}
			}
		}
	}
}

body {
	@include transition(all $transition_speed_fast);
}

