<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  	<script language="javascript">
		var mode = Cookies.get('night_mode');
		if (mode != undefined)
			if (mode == "true") {
		  		document.body.className = "night_mode";
			}
  	</script>

    {%- include header.html -%}

    <main class="page-content container-fluid" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
